# Fichiers objets et intermédiaires
*.o
*.obj
*.d
*.gch
*.pch

# Bibliothèques
*.lib
*.a
*.so
*.so.*
*.dylib
*.dll

# Exécutables
*.exe
*.out
*.app
runner

# Dossiers de build
build/
cmake-build-*/

# IDE
.vscode/
.idea/
.vs/
*.user

# Système
.DS_Store
Thumbs.db
